div.toolbox, .span-7 {width: 155px !important;}
.span-7 { margin-top: 9px; }
.span-8 {width: 250px !important;}
.span-9 {width: 530px !important;}
.hidden { display: none; }
#lib-research-resources {
	/* basic.css group */
	height: 40px;
	border-left: 0px dashed #999999;
	float: left;
	background-color:#FBF9F7; 
	text-transform:uppercase;
	text-decoration:none;
	color:#0000FF;
	cursor: pointer;
	background-color: transparent;
	/* basic.css individual */
	background-image:url(http://www.macalester.edu/library/images/buttons/journalsoff.png);
	background-repeat:no-repeat;
	width: 134px;
}
#libsearcharea3, .search-results { position: relative; width: 95%; margin-left: 2.5%; margin-top: 2.5%; }
#libsearcharea3 > input[type="text"] { width: 98%; height: 2.4em; padding-left: 10px; }
.search-results > .row { margin-bottom: 2em; }
div#happenings { width: 155px; font-size: .8em; }
div#happenings h4 { width : auto; margin: 0px !important; padding: 0px; font-size: 1em; }
div#happenings div.content { height: auto !important; overflow-x: none; overflow-y: none; }
.infotypes a { font-size: 12px; color: #2c4d7a; }
#types li:hover { font-size: 13px; display:block; background-color:#efefef !important; }
#types li:hover a { font-size: 13px; }
.infotypes a:hover { text-decoration: underline; color: #0000FF; font-size: 13px; background-color:#efefef !important; }